div {
    border: 3px pink solid;
    margin: 5px;
    background-color: skyblue;
}

#container {
    background-color: yellow;
    clear: both;
}

.grey_bg {
    background-color: grey;
    padding: 5px;
}

#b3 {
    width: calc(14% - 48px);
    float: left;
}

#b4 {
    width: calc(28.7% - 48px);
    float: left;
}

#b5{
    width: calc(5.3% - 48px);
    float: left;
}

#b6 {
    clear: both;
}